.recipe-card {
    border: none;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.recipe-card {
    min-height: 100%;
}

.recipe-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.recipe-card .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.recipe-card-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-description {
    font-size: 0.85rem;
    color: #6c757d;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}

.badge-diet-small {
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
}

.fire-icon {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 5px;
}

.favorite-button {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.favorite-button i {
    color: #6c757d;
    font-size: 1rem;
    transition: color 0.2s ease-in-out;
}

.favorite-button i.bi-heart-fill {
    color: #dc3545;
}

.favorite-button:hover {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-card .card-body>div:last-child {
    margin-top: auto;
}

.diet-badge-section {
    flex-direction: row;
}

.recipe-card .card-img-top {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
